<hr>

<div class="docs-content-footer">

    <h4>Help make this document better</h4>
    <p>This site is open-source and available on GitHub. Contributions and edits
    are welcome.</p>

    <ul>
        <li><a href="https://github.com/dependencies-io/www.dependencies.io/blob/master/content/{{ .File.Path }}">Suggest an edit to this page</a></li>
        <li><a href="https://github.com/dependencies-io/www.dependencies.io/issues/new">Open an issue about this page to report a problem</a></li>
    </ul>

</div>
