<h4 class="sidebar-heading"><a href="/docs/">Docs</a></h4>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/introduction.md" }}">Introduction</a></li>
    <li><a href="{{ relref . "docs/quickstart.md" }}">Quickstart</a></li>
    <li><a href="{{ relref . "docs/configuration.md" }}">Configuring <code>dependencies.yml</code></a></li>
</ul>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/how-it-works.md" }}">How it works</a></li>
    <li><a href="{{ relref . "docs/collectors/index.md" }}">Collectors</a></li>
    <li><a href="{{ relref . "docs/actors/index.md" }}">Actors</a></li>
    <li><a href="{{ relref . "docs/faqs.md" }}">FAQs</a></li>
</ul>

<h5 class="sidebar-heading">Dependencies</h5>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/dependencies/python.md" }}">Python</a></li>
    <li><a href="{{ relref . "docs/dependencies/js.md" }}">Javascript</a></li>
    <li>Go</li>
    <li>Ruby</li>
    <li>Java</li>
    <li><a href="{{ relref . "docs/dependencies/php.md" }}">PHP</a></li>
    <li><a href="{{ relref . "docs/dependencies/git.md" }}">Git</a></li>
    <li>Docker</li>
</ul>

<h5 class="sidebar-heading"><a href="#">dependencies.yml</a></h5>
<ul class="list-unstyled">
    <li><a href="{{ relref . "docs/dependencies-yml/version-filtering.md" }}">Version filtering</a></li>
</ul>
