<div class="row">
    <div class="col-sm-3">
        <p class="list-heading">About</p>
        <ul class="list-unstyled">
            <li><a href="{{ relref . "pricing.html" }}">Pricing</a></li>
            <li><a href="{{ relref . "contact.html" }}">Contact</a></li>
            <li><a href="/docs/">Docs</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <p class="list-heading"></p>
        <ul class="list-unstyled">
        </ul>
    </div>
    <div class="col-sm-3 text-sm-right">
        <p class="list-heading">Dependencies.io</p>
        <ul class="list-unstyled">
            <li><a href="https://github.com/dependencies-io">GitHub</a></li>
            <li><a href="https://twitter.com/dependenciesio">Twitter</a></li>
            <!-- <li><a href="#">Branding</a></li> -->
        </ul>
    </div>
    <div class="col-sm-3 text-sm-right">
        <p class="list-heading">Support</p>
        <ul class="list-unstyled">
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="https://github.com/dependencies-io/support">Support</a></li>
            <li><a href="http://status.dependencies.io">Status</a></li>
        </ul>
    </div>
</div>
