<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

<meta name="description" content="Dependency management">
<meta name="author" content="Dependencies.io">

<meta property="og:title" content="Dependencies.io" />
<meta property="og:description" content="Manage all of your dependencies with a single service." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.dependencies.io/" />
{{ $hash := index .Site.Data.img.hash "dependencies-io-logo_shaded_500px.png" }}{{ $image := add "/img/" $hash}}<meta property="og:image" content="{{ $image | absURL }}" />

<link rel="me" href="https://twitter.com/DependenciesIO">

<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
