<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

<meta name="description" content="Dependency management">
<meta name="author" content="Dependencies.io">

<meta property="og:title" content="Dependencies.io" />
<meta property="og:description" content="Dependency management" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://dependencies.io/" />

<link rel="canonical" href="https://dependencies.io">

<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
