.docs-sidebar {
    margin-top: 1rem;
    
    @include media-breakpoint-up(sm) {
        margin-top: 3rem;
    }

    .sidebar-heading a {
        color: $headings-color;
    }

    > ul {
        margin-bottom: 2rem;

        li {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        ul {
            padding-left: 1rem;
        }
    }
}

.docs-content {
    padding-bottom: 5rem;

    h1 {
        margin-bottom: 1rem;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
    }
    h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
    }
    h2, h3, h4, h5, h6 {
        margin-top: 1rem;
    }
    img {
        max-width: 80%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    hr {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.highlight pre {
    padding: 1rem;
}
