@import "docs";

// shove the footer to the bottom
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-container { flex: 1; }

.navbar-brand img {
    max-height: 25px;
    margin-top: 1px;
    vertical-align: top;
}

@include media-breakpoint-down(sm) {
    .navbar > .container { margin: 0; }
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(sm) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.footer-container {
    background: linear-gradient($brand-primary, lighten($brand-primary, 3%));
    color: white;
    font-weight: 300;
    box-shadow: inset 0 10px 10px -5px darken($brand-primary, 10%);
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    border: none;

    .list-heading {
        color: $brand-primary-lighter;
    }
    a {
        color: transparentize(white, 0.2);
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    li {
        padding: 3px 0;
        margin: 2px 0;
    }
    .logo {
        max-height: 40px;
        opacity: .4;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .copyright {
        color: transparentize(white, 0.5);
        font-size: .8rem;
    }
}

// shamelessly stolen from graphql http://graphql.org/
.window-frame {
    background: white;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding-top: 26px;
    position: relative;

    &::before {
        background: linear-gradient(#f0f0f0, #dedede);
        border-radius: 6px 6px 0 0;
        box-shadow: inset 0 2px 2px -2px white, 0 1px rgba(0, 0, 0, 0.4);
        content: ' ';
        display: block;
        height: 25px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img {
        margin: 0;
        max-width: 100%;
        height: auto;
    }
}
