<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" href="/">
    <img src="/img/{{ index .Site.Data.img.hash .Site.Params.navbar_logo }}" alt="{{ .Site.Title }}">
    {{ .Site.Params.navbar_brand_text }}
</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-right: auto;">
        {{ $currentPage := . }}
        {{ range .Site.Menus.navbar }}
        <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
        </li>
        {{end}}
    </ul>

    {{ partial "navbar_content_right.html" . }}
</div>
